# Checkpoint 1

A partir do dataset enviado, responda:

## Importa√ß√£o e An√°lise Inicial

1. Importe o arquivo CSV.(0,33)
2. Quantas linhas tem o dataset?(0,33)
3. Quantas colunas tem o dataset?(0,33)
4. Quais colunas t√™m o tipo `object`?(0,34)
5. Quais colunas t√™m o tipo `int64`?(0,34)
6. Existe alguma coluna de outro tipo?(0,33)

## An√°lise Estat√≠stica

7. Qual foi o total, o m√°ximo, o m√≠nimo do objetivo financeiro de todos os projetos (goal)?(0,66)
8. Qual o total, o m√°ximo, o m√≠nimo e o valor que representa 25% do dinheiro levantado (pledged)?(0,67)
9. Qual o total, o m√°ximo, o m√≠nimo e o valor que representa 75% dos apoiadores dos projetos(backers)?(0,67)

## An√°lise de Categorias

10. Qual a `category` mais presente? E quantos valores √∫nicos ela possui?(0,5)
11. Qual a `main_category` mais presente? E quantos valores √∫nicos ela possui?(0,5)
12. Qual a `currency` mais presente? E quantos valores √∫nicos ela possui?(0,5)
13. Execute o processo de dummy na coluna `country`.(0,5)

## An√°lise de Valores Nulos

14. Qual a quantidade de valores nulos em cada feature?(0,66)
15. Qual a propor√ß√£o de valores nulos por valores n√£o nulos em cada feature?(0,66)
16. Fa√ßa o tratamento desses nulos e explique por que escolheu cada m√©todo.(0,68)

## Visualiza√ß√£o Gr√°fica

17. Visualiza√ß√£o Gr√°fica da feature `state`.(2)



----------------------------------------
üß© Desafio: ETL de Dados P√∫blicos

üéØ Objetivo
Construir um pipeline ETL no Apache Airflow que:

Extrai dados de algum dataset p√∫blico

Transforma os dados limpando, filtrando e unificando informa√ß√µes.

Carrega o resultado em um banco de dados PostgreSQL (ou salva como Parquet).

Agenda a execu√ß√£o di√°ria do pipeline (simulando ingest√£o incremental).

# Checkpoint 1

A partir do dataset enviado, responda:

## Importa√ß√£o e An√°lise Inicial

1. Importe o arquivo CSV.(0,33)
2. Quantas linhas tem o dataset?(0,33)
3. Quantas colunas tem o dataset?(0,33)
4. Quais colunas t√™m o tipo `object`?(0,34)
5. Quais colunas t√™m o tipo `int64`?(0,34)
6. Existe alguma coluna de outro tipo?(0,33)

In [37]:
import pandas as pd
import numpy as np
import ast

# Gerenciamento de experimentos com MLflow
import mlflow

# Download do dataset de filmes do Kaggle
#!kaggle datasets download -d rounakbanik/the-movies-dataset -p ./movies_dataset

# Descompactar o arquivo baixado
#!unzip -o ./movies_dataset/the-movies-dataset.zip -d ./movies_dataset


# Carregar o dataset de filmes usando o motor 'python' para evitar o ParserError
try:
    df = pd.read_csv("./movies_dataset/movies_metadata.csv", low_memory=False)
    print("O dataset foi importado com sucesso!")

    # Obter o n√∫mero de linhas e colunas do DataFrame
    numero_linhas, numero_colunas = df.shape
    print(f"O dataset tem {numero_linhas} linhas")
    print(f"O dataset tem {numero_colunas} colunas.")

    colunas_object= df.select_dtypes(include=['object'])
    colunas_int64 = df.select_dtypes(include=['int64'])
    colunas_outrotipo = df.select_dtypes(exclude=['object', 'int64'])
    print(f"As colunas do tipo 'object' s√£o: {colunas_object.columns.tolist()}")
    print(f"As colunas do tipo 'int64' s√£o: {colunas_int64.columns.tolist()}")
    print(f"As colunas de outro tipo s√£o: {colunas_outrotipo.columns.tolist()}")
    
except Exception as e:
    print(f"Ocorreu um erro ao carregar o CSV: {e}")
    print("Verifique se o arquivo 'mymoviedb.csv' existe no diret√≥rio './movies_dataset' e n√£o est√° corrompido.")

O dataset foi importado com sucesso!
O dataset tem 45466 linhas
O dataset tem 24 colunas.
As colunas do tipo 'object' s√£o: ['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'spoken_languages', 'status', 'tagline', 'title', 'video']
As colunas do tipo 'int64' s√£o: []
As colunas de outro tipo s√£o: ['revenue', 'runtime', 'vote_average', 'vote_count']

## An√°lise Estat√≠stica

7. Qual foi o total, o m√°ximo, o m√≠nimo do objetivo financeiro de todos os projetos (goal)?(0,66)
8. Qual o total, o m√°ximo, o m√≠nimo e o valor que representa 25% do dinheiro levantado (pledged)?(0,67)
9. Qual o total, o m√°ximo, o m√≠nimo e o valor que representa 75% dos apoiadores dos projetos(backers)?(0,67)

In [34]:
try:

    # --- Limpeza e Convers√£o da Coluna 'budget' ---
    # Converte a coluna 'budget' para um tipo num√©rico.
    # Erros de convers√£o (valores n√£o num√©ricos) ser√£o transformados em NaN (Not a Number).
    df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

    # Filtra o DataFrame para incluir apenas filmes com or√ßamento maior que zero.
    filmes_com_budget = df[df['budget'] > 0].copy()

    # --- An√°lise Estat√≠stica ---
    total_budget = filmes_com_budget['budget'].sum()
    max_budget = filmes_com_budget['budget'].max()
    min_budget = filmes_com_budget['budget'].min()

    print(f"Total do or√ßamento de todos os filmes: ${total_budget:,.2f}")
    print(f"Maior or√ßamento entre os filmes: ${max_budget:,.2f}")
    print(f"Menor or√ßamento entre os filmes: ${min_budget:,.2f}")


    # --- Limpeza e Convers√£o da Coluna 'revenue' ---
    # A coluna 'revenue' tamb√©m vem como texto e precisa ser convertida para n√∫mero.
    # Usamos 'errors='coerce'' para transformar valores inv√°lidos em NaN (Not a Number).
    df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

    # Filtra o DataFrame para incluir apenas filmes com receita maior que zero.
    filmes_com_revenue = df[df['revenue'] > 0].copy()

    # --- An√°lise Estat√≠stica ---
    estatisticas_revenue = filmes_com_revenue['revenue'].describe()

    # Extraindo os valores do resultado do .describe()
    min_revenue = estatisticas_revenue['min']
    max_revenue = estatisticas_revenue['max']
    percentil_25 = estatisticas_revenue['25%']

    # C√°lculo da receita total (o describe() n√£o fornece a soma diretamente)
    total_revenue = filmes_com_revenue['revenue'].sum()

    print(f"Total da receita de todos os filmes: ${total_revenue:,.2f}")
    print(f"O maior valor de receita entre os filmes: ${max_revenue:,.2f}")
    print(f"O menor valor de receita entre os filmes: ${min_revenue:,.2f}")
    print(f"O valor do 25¬∫ percentil da receita: ${percentil_25:,.2f}")
    

    # --- Limpeza e Convers√£o da Coluna 'vote_count' ---
     # A coluna 'vote_count' tamb√©m vem como texto e precisa ser convertida para n√∫mero.
    # Usamos 'errors='coerce'' para transformar valores inv√°lidos em NaN (Not a Number).
    df['vote_count'] = pd.to_numeric(df['vote_count'], errors='coerce')

    # Filtra o DataFrame para incluir apenas filmes com contagem de votos maior que zero.
    filmes_com_vote_count = df[df['vote_count'] > 0].copy()

    # --- An√°lise Estat√≠stica ---
    estatisticas_vote_count = filmes_com_vote_count['vote_count'].describe()

    # Extraindo os valores do resultado do .describe()
    min_vote_count = estatisticas_vote_count['min']
    max_vote_count = estatisticas_vote_count['max']
    percentil_75 = estatisticas_vote_count['75%']

    # C√°lculo da receita total (o describe() n√£o fornece a soma diretamente)
    total_vote_count = filmes_com_vote_count['vote_count'].sum()

    print(f"Total da contagem de votos de todos os filmes: {total_vote_count:,}")
    print(f"O maior valor de contagem de votos entre os filmes: {max_vote_count:,}")
    print(f"O menor valor de contagem de votos entre os filmes: {min_vote_count:,}")
    print(f"O valor do 75¬∫ percentil da contagem de votos: {percentil_75:,}")

except Exception as e:
    print(f"Ocorreu um erro durante a an√°lise: {e}")

Total do or√ßamento de todos os filmes: $192,062,026,597.00
Maior or√ßamento entre os filmes: $380,000,000.00
Menor or√ßamento entre os filmes: $1.00
Total da receita de todos os filmes: $509,576,984,595.00
O maior valor de receita entre os filmes: $2,787,965,087.00
O menor valor de receita entre os filmes: $1.00
O valor do 25¬∫ percentil da receita: $2,400,000.00
Total da contagem de votos de todos os filmes: 4,995,933.0
O maior valor de contagem de votos entre os filmes: 14,075.0
O menor valor de contagem de votos entre os filmes: 1.0
O valor do 75¬∫ percentil da contagem de votos: 38.0

## An√°lise de Categorias

10. Qual a `category` mais presente? E quantos valores √∫nicos ela possui?(0,5)
11. Qual a `main_category` mais presente? E quantos valores √∫nicos ela possui?(0,5)
12. Qual a `currency` mais presente? E quantos valores √∫nicos ela possui?(0,5)
13. Execute o processo de dummy na coluna `country`.(0,5)

In [38]:
try:
    # Remove linhas com valores NaN na coluna 'genres'
    df.dropna(subset=['genres'], inplace=True)

    # Aplica a fun√ß√£o para extrair os nomes dos g√™neros
    def extrair_nomes_generos(generos_str):
        try:
            # Converte a string para uma lista de dicion√°rios usando ast.literal_eval
            generos_lista = ast.literal_eval(generos_str)

            # Extrai os nomes dos g√™neros
            nomes_generos = [genero['name'] for genero in generos_lista]
            return nomes_generos
        except (ValueError, SyntaxError):
            # Em caso de erro na convers√£o, retorna uma lista vazia
            return []
    
    # Aplica a fun√ß√£o √† coluna 'genres' e cria uma nova coluna 'generos_nomes'
    df['generos_nomes'] = df['genres'].apply(extrair_nomes_generos)


    # Cria uma lista com todos os g√™neros presentes no DataFrame
    todos_os_generos = []
    for lista in df['generos_nomes']:
        todos_os_generos.extend(lista)

    # Conta a frequ√™ncia de cada g√™nero
    contagem_generos = pd.Series(todos_os_generos).value_counts()

    # Obt√©m o g√™nero mais frequente e o n√∫mero de g√™neros √∫nicos
    genero_mais_frequente = contagem_generos.index[0]
    
    # N√∫mero de g√™neros √∫nicos
    numero_generos_unicos = len(contagem_generos)

    print(f"O g√™nero mais frequente √©: {genero_mais_frequente}")
    print(f"N√∫mero de g√™neros √∫nicos: {numero_generos_unicos}")


except Exception as e:
    print(f"Ocorreu um erro ao processar a coluna 'genres': {e}")

O g√™nero mais frequente √©: Drama
N√∫mero de g√™neros √∫nicos: 32

In [35]:
df.head(100)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,NaN,3000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,406,tt0113247,fr,La Haine,Aimlessly whiling away their days in the concr...,...,1995-05-31,0.0,98.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,Three Young Friends... One Last Chance.,La Haine,False,7.9,695.0
96,False,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45549,tt0111173,en,Shopping,"A dark, hip, urban story of a barren and anony...",...,1994-12-06,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one leaves without paying...,Shopping,False,5.6,13.0
97,False,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",http://www.nickbroomfield.com/heidifleiss.html,63076,tt0113283,en,Heidi Fleiss: Hollywood Madam,A documentary crew from the BBC arrives in L.A...,...,1995-12-27,0.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Heidi Fleiss: Hollywood Madam,False,6.8,4.0
98,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,11062,tt0115907,en,City Hall,The accidental shooting of a boy in New York l...,...,1996-02-16,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It started with a shootout on a rainswept stre...,City Hall,False,6.0,67.0
99,False,NaN,7000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,13685,tt0115734,en,Bottle Rocket,Upon his release from a mental hospital follow...,...,1996-02-21,560069.0,91.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,"They're not really criminals, but everyone's g...",Bottle Rocket,False,6.8,285.0